@model TestApp.Models.Suscripcion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Suscripcion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suscriptor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suscriptor.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotivoFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotivoFin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAsociacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
